
body {
    /* min-height: 100vh; */
    max-width: 1280px;
    margin: 0 auto;
}


nav, #bg-form{
    background-color: #28A745;
}


#img{
    width: 100px;
    height: 30px;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px ;
    color: #212529;
    }

.card-p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px ;
    color: #707070;

    }
    
.card-d {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px ;
    color: #707070;

}


.precio{
    text-align: right;
}


.precio-1{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px ;
    color: #707070;

}

.informacion-cupones{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21px ;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    

}

.precio-2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px ;
    color: #28A745;
    margin-left: 11px;

}

.logo-footer{
    text-align: center;

}


.texto-boton{

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px ;
  

}


.logo-black {
    height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.texto-footer {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    color: #707070;
}

